
div.clear
{
	clear: both;
	height: 0;
}

div.right-aside-helper {
	background: #F5EFD0;
	width: 230px;
	padding: 20px;
	position: fixed;
	top: 260px;
	margin-left: 614px;
}

div.template-list
{
	padding: 0 0 0 30px;
	margin-right: 300px;
}
	div.template-list div
	{
		margin: 20px 0;
	}
	div.right-aside-helper h1
	{
		font-family: PFHandbookProRegular;
		font-size: 27px;
		font-weight: bold;
	}

	div.right-aside-helper  p
	{
		font-family: Arial;
		font-size: 12px;
		margin-bottom: 7px;
		margin-top: 12px;
	}
	div.right-aside-helper div.centered
	{
		text-align: center;
	}

	div.inner-aside
	{
		display: none;
	}
	div.default-helper
	{
		display: block;
	}

div.form-outer-wrapper
{
	margin-left: 16px;
	position: relative;
	min-height: 760px;
}
	div.form-outer-wrapper h3
	{
		margin-left: 16px;
	}
	div.form-inner-wrapper,
	div.form-login-outer-wrapper
	{
		background: #F5EFD0;
		border-radius: 3px;
		margin-right: 458px;
		color: #575A5B;
		font-size: 14px;
		margin-bottom: 20px;
	}
		div.form-inner-wrapper ul.tabs
		{
			list-style: none;
			background: #F9F9F9;
		}
			div.form-inner-wrapper ul.tabs li
			{
				display: inline-block;
				border-bottom: 1px solid #fff;
				border-left: 1px solid #fff;
			}
				div.form-inner-wrapper ul.tabs li.deleted
				{
					background: #fff;
					float: right;
					width: 160px;
					text-align: center;
					padding: 4px 0;
				}
					div.form-inner-wrapper ul.tabs li.deleted form
					{
						padding: 0;
					}

				div.form-inner-wrapper ul.tabs li a,
				div.form-inner-wrapper ul.tabs li span
				{
					text-decoration: none;
					display: block;
					color: #C0C2C2;
					width: 110px;
					text-align: center;
					padding: 10px 0;
					font-size: 16px;
				}
				div.form-inner-wrapper ul.tabs li span
				{
					display: none;
				}

			div.form-inner-wrapper.basic ul.tabs li.basic,
			div.form-inner-wrapper.tabs ul.tabs li.tabs
			{
				background: #F5EFD0;
				border-bottom: 1px solid #F5EFD0;
				border-left: 1px solid #F5EFD0;
			}

				div.form-inner-wrapper.basic ul.tabs li.basic a,
				div.form-inner-wrapper.tabs ul.tabs li.tabs a
				{
					display: none;
				}

				div.form-inner-wrapper.basic ul.tabs li.basic span,
				div.form-inner-wrapper.tabs ul.tabs li.tabs span
				{
					display: block;
					color: #575A5B;
					font-weight: bold;
				}

		div.form-inner-wrapper form
		{
			padding: 16px;
		}
		div.form-inner-wrapper div.row
		{
			margin-bottom: 14px;
		}

		div.refresh-preview
		{
			text-align: right;
		}

			div.form-inner-wrapper div.row label,
			div.form-login-outer-wrapper div.row label
			{
				float: left;
				width: 100px;
			}
				div.form-inner-wrapper div.row label span,
				div.form-login-outer-wrapper div.row label span,
				div.form-inner-wrapper div.row span.middle
				{
					display: table-cell;
					vertical-align: middle;
					height: 34px;
				}

				div.form-inner-wrapper div.row div.group label
				{
					float: inherit;
					display: block;
					margin-left: 104px;
					line-height: 20px;
					width: 130px;
				}
					div.form-inner-wrapper div.row div.group label input
					{
						float: left;
						margin-right: 6px;
						margin-top: 3px;
					}

				div.form-inner-wrapper div.row div.group div.app-icon
				{
					float: right;
					margin-right: 170px;
					width: 72px;
				}

				div.form-inner-wrapper div.row input[type=text],
				div.form-inner-wrapper div.row input[type=password],
				div.form-login-outer-wrapper div.row input[type=text],
				div.form-login-outer-wrapper div.row input[type=password],
				div.form-inner-wrapper div.row textarea {
					background: #fff;
					border: 1px solid #CCCCCC;
					border-radius: 5px;
					font-size: 14px;
					width: 358px;
					padding: 8px 6px;
				}
               @media (max-width: 420px) {
				   div.form-inner-wrapper div.row input[type=text],
				   div.form-inner-wrapper div.row input[type=password],
				   div.form-login-outer-wrapper div.row input[type=text],
				   div.form-login-outer-wrapper div.row input[type=password],
				   div.form-inner-wrapper div.row textarea {
					   font-size: 12px;
				   }
			   }
               @media (max-width: 360px) {
	               div.form-inner-wrapper div.row input[type=text],
	               div.form-inner-wrapper div.row input[type=password],
	               div.form-login-outer-wrapper div.row input[type=text],
				   div.form-login-outer-wrapper div.row input[type=password],
	               div.form-inner-wrapper div.row textarea {
		               font-size: 10px;
				   }
			   }
				div.form-inner-wrapper div.row textarea
				{
					height: 100px;
				}
				div.form-inner-wrapper div.row select
				{
					background: #fff;
					border: 1px solid #CCCCCC;
					border-radius: 5px;
					padding: 5px;
					width: 210px;
				}

		div.form-inner-wrapper div.buttons
		{
			text-align: center;
			padding-top: 4px;
		}
		div.form-inner-wrapper div.row  input.version
		{
			width: 50px;
		}

	div.form-inner-wrapper .span-tooltip
	{
		float: right;
		padding-top: 2px;
		width: 300px;
		font-size: 11px;
	}

	#refresh-preview
	{
		background: url("/img/refresh.png") no-repeat 0 2px;
		border: 0;
		padding: 7px 4px 7px 33px;
		cursor: pointer;
		text-decoration: none;
		color: #333;
		outline: none;
	}

		#refresh-preview:focus
		{
			outline: none;
		}

	#icon-preview
	{
		display: none;
	}

div.button-wrapper-custom-icon
{
	text-align: center;
	padding: 6px 0 0;
	display: none;
}

div.wrapper-tab-new-icon
{
	display: none;
}

#tab-icon-preview
{
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	line-height: 1;
	padding: 4px;
	width: 42px;
	box-shadow: 0 1px 1px white;
	display: inline-block;
	text-align: center;
}
	#tab-icon-preview div
	{
		background: #fff;
		border: 1px solid #ccc;
		width: 32px;
		height: 32px;
		padding: 4px;
	}

#msdrpdd20_child label
{
	display:inline !important;
	width: inherit !important;
	margin: inherit !important;
}

div.right-block
{
	float: right;
	width: 400px;
}

div.checkbox-items
{
	font-size: 13px;
	margin: 0 auto;
	width: 250px;
	padding: 2px 0;
}

div.create-account-wrapper-button
{
	padding: 20px 0 0 0;
	text-align: center;
	margin-top: 20px;
}

div.text-block-right
{
	text-align: right;
	font-size: 13px;
	padding: 2px 0;
	line-height: 22px;
}

div.form-login-outer-wrapper
{
	width: 300px;
	margin: 0 auto;
	border-radius: 6px;
	padding: 10px;
}
	div.form-login-outer-wrapper h4
	{
		color: #575A5B;
		font-size: 22px;
		font-weight: bold;
		margin-bottom: 6px;
	}

div.form-login-outer-wrapper div.row
{
	padding: 6px;
}
	div.form-login-outer-wrapper div.row label
	{
		width: 82px;
	}
	div.form-login-outer-wrapper div.row input[type=text],
	div.form-login-outer-wrapper div.row input[type=password]
	{
		width: 190px;
	}

	div.form-login-outer-wrapper div.helpers
	{
		font-size: 13px;
		padding: 4px 0;
	}
	div.form-login-outer-wrapper div.remember-me
	{
		float: right;
	}

	div.form-login-outer-wrapper .middle
	{
		display: inline-table;
		padding-top: 2px;
		vertical-align: top;
		padding-right: 10px;
	}
		div.form-login-outer-wrapper div.facebook-login
		{
			text-align: center;
			padding: 2px 0;
		}

	div.footer-form-login
	{
		text-align: center;
	}
		div.footer-form-login a
		{
			font-weight: bold;
		}
		div.footer-form-login .note
		{
			font-size: 10px;
		}

		div.form-login-outer-wrapper div.submit-wrapper
		{
			text-align: center;
			padding: 14px 0;
		}

		div.modalBody a.modalPageClose
		{
			position: absolute;
			right: -40px;
			top: -2px;
		}

form div.row.error
{
	position: relative;
	font-weight: inherit;
}

form .error
{
	font-weight: inherit;
}

form .errorMessage
{
	color: #BE311B;
}

div.tab-create #tab-icon-preview
{
	display: none;
}

div.tab-create div.row div.group label.o_current
{
	display: none;
}

div.tab-create div.wrapper-tab-new-icon
{
	display: block;
}
div.tooltip
{
	z-index: 10000;
}

#native-preview-container {
	top: 0;
	position: absolute;
	height: 730px;
	width: 390px;
	right: 20px;
}

#preview-widget-frame
{
	background: url(/img/nexus5_black_html.png) no-repeat;
	background-size: 300px 618px;
	width: 300px;
	height: 687px;
	right: 90px;
	position: absolute;
}

	#preview-widget-frame .preview-widget-button
	{
		background-color: rgba(100, 100, 100, 0.7);
		border: 2px solid white;
		border-radius: 5px 5px 5px 5px;
		color: #FFFFFF;
		font-family: Helvetica,Arial,sans-serif;
		font-size: 24px;
		font-weight: bold;
		left: 50%;
		margin-left: -118px;
		padding: 80px 15px;
		position: absolute;
		text-align: center;
		top: 174px;
		width: 200px;
		cursor: pointer;
		z-index: 2;
	}

   #preview-widget-frame .preview-widget-button-stripe {
	   border: none;
	   border-radius: 0;
	   text-shadow: 2px 2px #000;
	   -webkit-text-shadow: 2px 2px #000;
	   top: 206px;
	   margin-left: -140px;
	   width: 250px;
	   background-color: rgba(50, 50, 50, 0.6);
	}


	#preview-widget-frame iframe
	{
		height: 465px;
		margin: 118px 30px 0;
		width: 270px;
	}

	.preview-screenshot {
		cursor: pointer;
		position: absolute;
		height: 466px;
		margin: 73px 15px 0;
		width: 268px;
		z-index: 1;
	}

div.row div.misc
{
	font-size: 12px;
	margin-left: 100px;
	padding-top: 4px;
}

div.add-new
{
	margin-left: 100px;
}

	div.add-new a span {
		border-bottom: 1px dotted;
	}

	div.add-new a.add {
		background: url("/img/plus.png") no-repeat scroll 2px 2px transparent;
		float: left;
		padding: 2px 0 2px 22px;
		text-decoration: none;
		font-size: 12px;
	}

div.form-inner-wrapper div.item
{
	margin-left: 110px;
	margin-bottom: 10px;
	position: relative;
}

	div.form-inner-wrapper a.remove-button
	{
		position: absolute;
		right: 22px;
		top: 26px;
		display: none;
	}

	div.form-inner-wrapper div.row div.item input
	{
		margin-bottom: 6px;
		width: 300px;
	}
div.app-wrapper
{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #EEEEEE;
	border-radius: 0 0 0 0;
	box-shadow: 0 0 9px rgba(70, 110, 57, 0.26) inset;
	margin: 4px;
	padding: 11px;
}

div.info-wrapper {
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 10px;
	padding-bottom: 6px;
}
	div.app-wrapper img.logo
	{
		float: left;
		width: 48px;
		height: 48px;
		margin-top: -7px;
	}
	div.app-wrapper .installs
	{
		color: #666666;
		padding: 2px 0;
		margin-left: 7px;
	}
	div.app-wrapper a.title
	{
		color: #666666;
		display: block;
		font-size: 16px;
		margin-left: 7px;
		margin-top: 6px;
		padding: 0 0 2px;
		text-decoration: none;
	}
div.app-wrapper .centered a
{
	display: block;
	padding-top: 8px;
}
	div.app-preview
	{
		text-align: center;
	}

div.anotherpage-box
{
	position: relative;
}

/*!!!!!!!!!!!!!!!!!!!new style for tabs!!!!!!!!!!!!!!!!!!!!!!!!!*/
#HtmlModelForm_html_tbl {
	margin: 0px;
}

@media screen and (max-width: 530px) {
	#CustomModelForm_blogUrl{
		width: 150px;
	}
	#CustomModelForm_pdfOption_pdfUrl{
		width: 260px;
	}
}
@media screen and (max-width: 480px){
	div.form-outer-wrapper
	{
		margin-left: 0px;
	}
	#HomepageV2ModelForm_tabItems_0_tabText{
		width: 260px;
	}
	#UrlModelForm_url{
		width: 260px;
	}
	#UrlModelForm_caption{
		width: 260px;
	}
	#CustomModelForm_caption{
		width: 260px;
	}
	#HtmlModelForm_caption{
		width: 260px;
	}
	#HtmlModelForm_html_tbl{
		zoom: 0.73;
	}
	#CustomModelForm_pdfOption_pdfUrl{
		width: 150px;
	}
	#MobileTvModelForm_tv_0_title{
		width: 160px;
	}
	#MobileTvModelForm_caption{
		width: 260px;
	}
	#TextModelForm_html{
		width: 260px;
	}
	#TextModelForm_caption{
		width: 260px;
	}
	#RssModelForm_searchTerms{
		width: 260px;
	}
	#RssModelForm_caption{
		width: 260px;
	}
	#RssModelForm_searchTerms{
		width: 260px;
	}
	#RssModelForm_caption, #WallpaperModelForm_caption, #MusicModelForm_caption{
		width: 260px;
	}
	#MobileTvModelForm_tv_0_url, #MobileTvModelForm_tv_1_title, #MobileTvModelForm_tv_1_url, #MobileTvModelForm_tv_2_title, #MobileTvModelForm_tv_2_url, #CustomModelForm_channel {
		width: 160px;
	}
	#CustomModelForm_channel {
		width: 150px;
	}
	#MusicModelForm_s_0_title, #MusicModelForm_s_0_url
	{
		width: 158px;
	}
	#facebook-tab{
		margin-left: -5px;
	}
	/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!end new style for tabs!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}