html{
    background-color: #bfbfbf;
    font-family: PFHandbookProRegular;
    color:#666;
    background-color: white;
}
.clear{
    clear: both;
}

.gray-color{
    color:#575a5b !important;
}
.hrline{
    background-color:#E5E5E5;
    border:none;
    height:1px;
    text-align:center;
}
.handbookpromedium{
    color: #333;
    font-family:PFHandbookProMedium;
}
.handbookprothin{    
}

.top-header-block{

}
.vertical-tabs-block{
    width: 980px;
    height: 300px;
}
.header-tabs{
    position:relative;
    top:10px;
}

.vertical-tabs-block{
}

.tabs-column{
    width: 254px;
    float: left;
}

.tabs-ul{
    height: 300px;
}

.tabs-ul li{
    height: 75px;
    vertical-align: middle;
}
.tabs-ul li a{
    background: none;
    display: block;
    height: 65px;
    width: 220px;
    vertical-align: middle;
    text-align: left;
    font-family: PFHandbookProRegular;
    font-size: 19pt;
    text-transform: uppercase;
    text-decoration: none;
    color: #666666;
    padding-top: 17px;
    padding-left:20px;
}

.tabs-ul li hr{
    margin-top:-7px;
    width:240px;
}
.vtabs-last-item hr{
    display: none !important;
}
.open{
    /*background: url('/img/vtabs_links_background.jpg') no-repeat 0 0;*/
    height: 300px;
    width: 100%;
    color: white !important;
}
.open hr{
    display: none;
}
.closed{
    background: none;
}

.closed{
    height: 60px;
}

#vtabs-0{
    background-position: 0 0 !important;
}
#vtabs-1{
    background-position: 0 -376px !important;
}
#vtabs-2{
    background-position: 0 -752px !important;
}

#vtabs-3{
    background-position: 0 -1128px !important;
}
.tabs-content{
    height: 300px;
}

.tabs-content div{
    /*background: url('/img/vtabs_content_background.jpg?adds') no-repeat 0 0;*/
    font-family:PFHandbookProRegular;
    color:white;
    height: 300px;
}
.tabs-content div h3{
    font-size:21pt;
    padding-left:20px;
    padding-top:20px;
    width:370px;
}
.tabs-content div p{
    font-size:13pt;
    padding-left:20px;
    padding-top:20px;
    width:330px;
}
.tabs-content div span{
    position: relative;
}
#content-createapp{
    background-position: 0 0 !important;
}
#content-createapp h3{
    font-size:24pt;
    margin-left:20px;
    padding-top:15px;
    width:350px;
    text-align:left !important;
}
#content-createapp div{
    height: 181px;
    top:0px;
    background: none !important;
}
#content-createapp div span{
    display: none;
}
#content-createapp div div{
    left: 30px;
    position: relative;
    top: 160px;
}
#content-createapp span span{
    top: 20px;
}

#content-gettraffic{
    background-position: 0px -302px !important;
}
#content-gettraffic div{
    height: 180px;
    top:0px;
    background: none !important;
}
#content-gettraffic div span{
    display: none;
}
#content-gettraffic span span{
    top: 20px;
}

#content-engageaudience{
    background-position: 0px -604px !important;
}
#content-engageaudience div{
    height: 180px;
    top:0px;
    background: none !important;
}
#content-engageaudience p{
    width:297px;
}
#content-engageaudience div span{
    display: none;
}
#content-engageaudience span span{
    top: 20px
}

#content-monetize{
    background-position: 0px -905px !important;
}
#content-monetize  span{
    left: 69px;
}
#content-monetize div{
    height: 220px;
    top:0px;
    background: none !important;
}
#content-monetize div span{
    display: none;
}

#content-monetize span span{
    top: 20px;
}

.tabs-content{
    width: 800px;

}
.contentbody{
    background-color: white;
    min-height: 300px;
}
.appgeyser-shortinfo-block{
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 212px;
}

.appsgeyser-info{
    background-color:white;
    float:left;
    height:210px;
    width:734px;
}

.appsgeyser-about{
    float:left;
    height:200px;
    width:480px;
}

.appsgeyser-about-text{
    color: #666;
    font-size: 24pt;
}

.appsgeyser-about-buttons{
    margin-top: 10px;
}

.body-android-logo{
    text-align:center;
}
.body-android-logo h3{
    color: #666;
    font-size: 30pt;
}

.twitter-content{
    background-color:white;
    float:right;
    height:210px;
}

.twitter-content-top{}

.twitter-content-body{}

.appgeyser-features{
    background-color: #eeeeed;
    height:265px;
}
.features-list-centered{
    margin-left:auto;
    margin-right:auto;
    padding-top:9px;
    width:980px;
}
.features-info{
    float:left;
    width:250px;
}

.features-info h2{
    font-size:18pt;
    text-transform:uppercase;
    text-align: left;
    font-family: PFHandbookProMedium;
}

.features-info hr{
    background-color: #ccc;
    border:medium none;
    height:1px;
}


.features-info-text{
    line-height:150%;
}

.features-list-block{
    margin-left:20px;
    width:700px;
    float: left;
}
.features-list-block li{
    vertical-align: top;
    display: inline-block;
    width: 225px;
    height: 125px;
}
.list-title{}
.list-content{}

.footer{
    background-image: url('/img/footer_background.png');
    background-repeat: repeat-x;
    height: 185px;
    width: 100%;
    color: white;
    font-family: Arial;
}
.footer-centered{
    width: 980px;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
}

.left_footer_block{
    float:left;
    width:215px;
}

.appgeysercopyright{
    font-size: 10pt;
}
.appgeysercopyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.infolinks{
    font-size: 8pt;
}

.infolinks li{
    display: inline;
    border-right: 1px solid #72787B;
}

.infolinks a{
    color: #c2e619;
    padding:0 5px;
}

.firstelement{
    padding-left: 0 !important;
}

.right_footer_block{
    float:right;
    font-size: 10pt;
}

.sitemap_links a{
    color:#D3D3D3;
    text-decoration:none;
}

.sitemap_links li{
    border-right:1px solid #45474A;
    display:inline-block;
    margin-left:35px;
    vertical-align:top;
    width:114px;
}
.sitemap_links h4{
    font-family:PFHandbookProRegular;
    font-size:13pt;
    text-transform:uppercase;
}

.sitemap_links li li{
    display: block;
    border: none;
    margin: 0px;
    padding-bottom:5px;
}
.lastli{
    border: none !important;
}
.redh1{
    color: #cc3399;
    font-size:22pt;
    text-align:left;
    padding: 10px 0;
}
.anotherpage-box{
    margin-left:auto;
    margin-right:auto;
    width: 980px;
    padding-bottom:15px;
}
.aboutcls{
    margin-top: 20px;
}
.imgleft{
    float: left;
    padding-right:10px;
}
/* Dashboard styles */
.navlinks{
    float:right;
    font-size:10pt;
    height:66px;
    left:-35px;
    margin-right:15px;
    margin-top:0;
    position:relative;
    text-align:right;
    top:-9px;
}

.appsdropdown{
    color:black;
    font-family:Arial;
    height:33px;
}
.appsdropdown, x:-moz-any-link, x:default {
    height:29px;
}
.appsdropdown label{

}

.appsdropdown select{
    max-width: 300px;
}

.navlinks-block{
    vertical-align: bottom;
    z-index: 100;
}

.navlinks-list{
	font-size: 0;
}
.navlinks-list div{

    color:#FFFFFF;
    display:inline-block;
    font-family: PFHandbookProRegular;
    font-size:16pt;
    margin-right:1px;
    text-transform:uppercase;
}
.navlinks-listspan{
    border-right:1px solid #ACC041;
    border-top:1px solid #ACC041;
    background-color:#CCE060;
    padding:5px 13px 1px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    behavior: url(/js/border-radius.htc);
}
.navlinks-listspan-premium{
    border-right:1px solid #ffb400    ;
    border-top:1px solid #ffb400    ;
    background-color:#ffb400      ;
    padding:5px 13px 1px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    behavior: url(/js/border-radius.htc);

}
.navlinks-first-li-element{
    border-radius: 4px ;
    -moz-border-radius: 4px ;
    -webkit-border-radius: 4px ;
    -khtml-border-radius: 4px ;
    behavior: url(/js/border-radius.htc);
}

.navlinks-list div a{
    text-decoration: none;
    color: black;
}
.navlinks-selected{

    border-radius: 4px ;
    -moz-border-radius: 4px ;
    -webkit-border-radius: 4px ;
    -khtml-border-radius: 4px 4px 2px 0 ;
    behavior: url(/js/border-radius.htc);
    background-color: #788b0e ;
    padding: 10px ;
    padding-bottom: 1px ;
}
.navlinks-selected-premium{
    border-radius: 4px ;
    -moz-border-radius: 4px ;
    -webkit-border-radius: 4px ;
    -khtml-border-radius: 4px 4px 2px 0 ;
    behavior: url(/js/border-radius.htc);
    background-color: #ff8f0e;
    padding: 10px ;
    padding-bottom: 1px ;
}
.navlinks-selected a{
    color: white !important;
}

.dashboardinfolinks{
    text-align: right;
}

.dashboardfooter{
    height: 45px !important;
}
/* about page */

.leftblock{
    float:left;
    height:100%;
    width:190px;
}
.leftblock li{
    font-family: PFHandbookProRegular;
    font-weight: bold;
    border-bottom: 1px solid #E5E5E5;
    padding:10px 0 10px 20px;
    font-size:13pt;
}
.about-first-elem{
    border-top: 1px solid #E5E5E5;
}
.leftblock a{
    font-family: PFHandbookProRegular;
    font-weight: lighter;
    text-decoration: none;
}

.middleblock{
    float: left;
    font-family: Arial;
    font-size: 13pt;
    margin-left: 10px;
    padding-bottom: 10px;
    text-align: justify;
    width: 530px;
}

.middleblock div{
    font-size:15pt;
    color: #333333;
}
.disablefont{
    color: #666666 !important;
    font-size: 13pt !important;
}
.disablefont div{
    color: #666666;
    font-size: 13pt;
}
.who-l{
    float: left;
    width: 310px;
}
.who-r{
    float: right;
    margin-bottom: 10px;
    margin-top: 90px;
    text-align: center;
    width: 200px;
}
.who-r img{

}
.who-r div{
    font-size: 7pt;
    text-align: left;
}
.middleblock h1{
    font-family:PFHandbookProRegular;
    font-weight: bold;
}
.rightblock{
    float:left;
    margin-left:10px;
    padding:10px;
    width:220px;
}
.block-top{
    background: url(/img/block_t.png) no-repeat top;
    height: 6px;
}
.block-middle{
    background: url(/img/block_m.png) repeat-y top;
}
.block-bottom{
    background: url(/img/block_b.png) no-repeat top;
    height: 7px;
}
.rightblock div div div {}
.rightblock div div div h2{
    font-family:PFHandbookProRegular;
    font-weight: bold;
    font-size:25pt;
    margin-left:10px;
    text-align:left;
}
.rightblock div div div div{
    margin-left:12px;
    margin-top: -10px;
}
.rightblock div div div p{
    color:#575A5B;
    padding:5px 0;
}
.rightblock div div div p a{
    color: #369;
}
/* create widget page */
.createwidget-page{
    text-align:center;
}
.createwidget-page a{
    text-decoration: none;
    border: none;
}
.createwidget-page img{

}
.webwidgetcodeform{
    /*background-image: url(/img/grabwidgetform_background.png);*/
    width: 456px;
    height: 243px;
    background-repeat: no-repeat;
    margin-left:266px;
    margin-top:-420px;
    position:absolute;
    display: none;
}
#widgeturlform{
    height:140px;
    margin-left:30px;
}
.closebutton{
    padding:5px;
    text-align:right;
}
#widgeturlform div{
    height:60px;
}
#widgeturlform label{
    float:left;
    width:35px;
}
#widgeturlform input{
    float:left;
    width:360px;
}
.widget-grab-button{
    background:url("/img/grab_button_background.png") no-repeat scroll 0 0 transparent;
    float:right;
    height:70px !important;
    margin-right:20px;
    text-align:center;
    width:165px;
}

.widgetform a{
    color:#663300;
    font-family:PFHandbookProRegular;
    font-weight: bold;
    font-size:30pt;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    top:14px;
}
.widgetform h1{
    color:#623100;
    font-family:Arial;
    font-size:24pt;
    font-weight:bold;
    height:60px;
    text-align:center;
    text-transform:uppercase;
}

/* step 1 page */
.tooltip{
    width: 300px; color:#000;
    visibility: hidden;
    position:  absolute;
    font:lighter 11px/1.3 Arial,sans-serif;
    text-decoration:none;text-align:center;
}

.tooltip .top{padding: 30px 0px 0px 0px;
              background: url(/img/bt.png) no-repeat top}

.tooltip .bottom{
    padding:0px 30px 30px 20px;
    background: url(/img/bt.png) no-repeat bottom}

.step1of2content{
    margin-left: 15px;
}

.step1of2content h3{
    font-family:Arial;
    font-size:24pt;
    padding:0 10px 15px;
}

.step1-left-panel{
    background-color:#F5EFD0;
    width:520px;
    float: left;
}
.step1-labels-and-fields{

}
.step1-labels-and-fields li{
    clear:left;
    padding-left:25px;
    padding-top:25px;
}
.step1-labels-and-fields li textarea{
    height: 155px;
}
.step1-labels-and-fields li select{
    width:200px !important;
}
.step1-label{
    float:left;
    width:140px !important;
}

.step1-field{
    min-height: 35px;
    margin:15px;
    width:380px;
    border: 1px solid #ccc;
    background-color: white !important;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    behavior: url(/js/border-radius.htc);

}
.step1-field:disabled{
    color: #aaaaaa;
}

.step1-labels-and-fields li div{
    background: none !important;
}

.step1-field label{

}
.step1-field input{

}

.step1-submitbutton{
    clear:left;
    text-align:center;
    padding:15px 0 5px;
}
.step1-right-panel{
    background:url("/img/widgetpreview_background.png") no-repeat;
    float: left;
    height: 745px;
    margin-left: 25px;
    text-align: center;
    width: 405px;
}
#step1-frame{
    left:-7px;
    overflow:hidden;
    position:relative;
    top:117px;
    width:395px !important;
}
/* g-code */

#website_url_div h3{
    font-family: Arial;
    font-size: 20pt;
    font-weight: bold;
    color: #623100;
    height:40px;
    margin-top:10px;
}
.label{
    color: #575A5B;
    font-family: Arial;
    font-size: 12pt;
    padding-left: 10px;
    text-align: left;
    width: 170px;
}

.step2-field{
    width: 360px;
    height: 35px;
}

.brown_frame_text{
    color:#575A5B;
    margin-top:0px;
}
.brown_frame_text p{
    font-size:11pt;
    padding-bottom: 15px;
}

.dashboard-h4 h4{
    font-family:PFHandbookProRegular;
    font-weight: bold;
    color: #575a5b;
    font-size: 24pt;
}
.dash-short-stat{
    margin-top: 10px;
}
.dash-short-stat td{
    font-size:11pt;
    padding:3px 0;
}
#widgetSelectForm{
    float: right;
}
/* get widget */
.getwidget-toptext{
    width: 500px;
    text-align: left;
    margin-left: 20px;
}
.widget-descrition{
    padding:10px 0;
}
.social-links{
    display:inline;
    height:40px;
}
.facebook-link{
    float:right;
    /*width:45%;*/
}
.twitter-link-box{
    width: 265px;
    height:75px;
}
.twitter-link{
    float: left;
    width: 180px;
    margin-top: 25px;
}
.twitter-link img{
    margin-top: -5px;
}
.twitter-link a{
    float:right;
    vertical-align:middle;
    margin-left: 5px;
    color: #3b6996;
}
.scan-qr-code-block{
    clear: both;
    height:140px;
    width:281px;
    margin-top:20px;
}


.qrcode-top{
    background-image: url('/img/qrcode_t.png');
    height: 13px;
    width:281px;
}
.qrcode-middle{
    background-image: url('/img/qrcode_m.png');
    background-repeat: repeat-y;
    width:281px;
    height: 135px;
}

.qrcode-middle img{
    float:left;
    padding-left:10px;
}

.qrcode-middle div{
    font-family:PFHandbookProRegular;
    font-weight: bold;
    font-size: 25pt;
    padding-top: 25px;
}

.qrcode-bottom{
    background-image: url('/img/qrcode_b.png');
    width:281px;
    height: 13px;
}
.commentlabel{
    color: #666666;
    font-family: Arial;
    font-size: 14pt;
    text-align: right;
    width: 160px;
    padding-right: 5px;
}
/* why page*/
.why-header{
    height:240px;
}
.why-header-left{
    float:left;
    width:664px;
}
.why-header-left img{
    float:left;
}
.why-header-left div{
    float:right;
    text-align:left;
    width:420px;
}
.why-header-left div li{

}
.why-header-left div li h3{
    font-size: 14pt;
    padding:10px 0;
}
.why-header-left div li div{
    padding-bottom: 10px;
    line-height:160%;
}
.why-header-right{
    width: 300px;
    float: left;
}
.why-75pc-top{
    background: url(/img/why_75pc_t.png) no-repeat bottom;
    height: 5px;
}
.why-75pc-middle{
    background: url(/img/why_75pc_m.png) repeat-y center;
}
.why-75pc-middle div{
    height:100px;
    padding:10px;
}
.why-75pc-middle div h3{
    float:left;
    font-family: PFHandbookProRegular;
    font-weight: bold;
    font-size:45pt;
    margin-top:-15px;
}
.why-75pc-middle a{
    text-decoration: none;
}
.why-75pc-middle div div{
    float:left;
    margin-left:10px;
    margin-top:3px;
    padding:0;
    width:145px;
}
.why-75pc-middle div div div{
    border-bottom:1px solid #DCD5B8;
    height:50px;
    width:145px;
}
.why-75pc-middle div div img{
    margin:10px;
}
.why-75pc-bottom{
    background: url(/img/why_75pc_b.png) no-repeat top;
    height: 5px;
}
.why-app-create-button{
    text-align: right;
    margin-top: 10px;
}
.why-app-create-button a{
    text-decoration: none;
}
.why-app-create-button img{}

.why-100500-middle{
    background: url(/img/why_middlelogo-background.png) repeat-x top #1e1e1e;
    height: 299px;
	overflow: hidden;
}
.why-100500{
    height: 299px;
}
.why-100500-content{
    background: url(/img/why_middlelogo.jpg) no-repeat -140px 0;
    height: 268px;
    padding-top:30px;
}
.why-100500-left{
    float:left;
    text-align:right;
}
.why-100500-left h3{
    font-size:15pt;
    padding:10px 0;
    text-align:right;
}
.why-100500-left div{
    color:white;
    float:right;
    font-family:Arial;
    font-size:12pt;
    text-align:right;
    width:300px;
    line-height: 160%;
}
.why-100500-right{
    float:right;
    text-align:left;
    width:320px;
}
.why-100500-right h1 span{
    color:#A2BC13;
    font-family:PFHandbookProRegular;
    font-weight: bold;
    font-size:40pt;
}
.why-100500-right h1 span.normal{
    color:white;
    font-family:Arial;
    font-size:11pt;
}
.why-100500-right div{
    color:white;
    font-family:Arial;
    font-size:11pt;
}
.why-features-list{
    margin-top:25px;
    text-align:center;
}
.why-features-list li{
    display:inline-block;
    height:150px;
    width:480px;
}
.why-features-list li  img{
    float:left;
}
.why-features-list li div{
    float:left;
    margin-left:10px;
    text-align:left;
    width:240px;
}
.why-features-list li div h3{
    color:#CC3399;
    font-family:PFHandbookProRegular;
    font-weight: bold;
    font-size:14pt;
}
.why-features-list li div div{
    color:#575A5B;
    font-family:Arial;
    font-size:11pt;
    line-height:160%;
    margin-left:0;
    text-align:left;
}
/* support page*/
.supportfaq{
    width: 720px;
}

.supportfaq strong{
    font-family:Arial;
    font-size:16pt;
}
.supportright{
    margin-left: 0px !important;
    padding-bottom: 0px !important;
}

.satisfaction-service{
    margin-top: -35px;
}

.satisfaction-service input{
    width: 200px;
    height: 25px;
    border: white;
    margin: 5px 0;
    background-color: white !important;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    behavior: url(/js/border-radius.htc);
}
.satisfaction-service-nowidth{
    margin-left: -10px !important;
    margin-right: 9px;
    margin-top: 5px !important;
    text-align: right;
}
.satisfaction-service-nowidth input{
    width:96px !important;
}

.satisfaction-service textarea{
    margin-top: 5px;
    width: 200px;
    margin-bottom:15px;
    border: white;
    background-color: white !important;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    behavior: url(/js/border-radius.htc);
}

/* gallery  */
.gallery-findit-big{
    background: url(/img/gallery_searchbox_background.png) no-repeat center;
    height: 79px;
    width: 675px;
}
.inputdiv{
    float:left;
    height:35px;
    margin-left:10px;
    margin-top:25px;
    width:555px;
    background: url(/img/gallery_input_background.png) no-repeat;
}
.gallery-findit-big input{
    border:medium none;
    margin-left:15px;
    margin-top:10px;
    width:520px;
}
.gallery-findit-big a{
    display:block;
    float:left;
    margin-left:15px;
    margin-top:23px;
    text-decoration:none;
}
.gallery-findit-big img{}

.gallery-top-apps-header{
    float:left;
    width:555px;
}
.gallery-top-apps-link{
    margin-top:17px;
	float:right;
}

.sranyygallery{
    font-size:17pt;
    padding:15px 0;
    font-family: Arial;
    color: #575A5B !important;
}
.gallery-categories-div{
    margin-left: 10px;
}
.gallery-categories{
}

.gallery-categories li{
    border-bottom:1px solid #ECECEC;
    padding:5px 0;
}

.gallery-categories li a{
    color: #333333;
    font-family: Arial;
    font-size: 11pt;
    margin-left: 10px;
    text-decoration: none;
}
.alltop-apps-div{
    border-top:1px solid #FFFFFF;
    margin-top:-1px;
    padding-top:20px;
}

.alltop-apps{
    background: url(/img/gallery_top_all_apps.png) no-repeat;
    display:block;
    float:left;
    height:61px;
    text-decoration:none;
    width:110px;
}
.top-apps{
    background: url(/img/allapps.png) no-repeat;
    padding-left: 1px;
	z-index: 10;
}
.all-apps{
	z-index: 10;
    background: url(/img/topapps.png) no-repeat;
}
.and-apps{
	position: relative;
	top: -30px;
	left: 10px;
	z-index: -1;
	text-decoration: none;
	background: none;
}

/* app preview */
.widgetgal-right-block{
    margin-left: 10px;
    width: 285px;
}

.appgallblea{
    float: none;
}
.appgallblea img{
    float: left;
}
.appgallblea a{
    float: none;
}

.gallery-findit-small{
    background: url(/img/gallery_searchbox_background_small.png) no-repeat center;
    height: 47px;
    width: 243px;
    margin-bottom: 25px;
}
.inputdiv-small{
    float:left;
    height:28px;
    margin-left:10px;
    margin-top:10px;
    width:156px;
    background: url(/img/gallery_input_background_small.png) no-repeat;
}
.gallery-findit-small input{
    border:medium none;
    margin-left:15px;
    margin-top:7px;
    width:115px;
}
.gallery-findit-small a{
    display:block;
    float:left;
    margin-left:10px;
    margin-top:11px;
    text-decoration:none;
}
/* sign in page */
.signinform input{
    margin: 10px 0;
    height: 35px;

    border: 1px solid #666;
    background-color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;


}
#mainform_login{

    width:220px;
}
#mainform_password{
    margin-left:5px;
}
.rememberme{}
.rememberme label{}
.rememberme input{
    margin-right: 5px;
    height:auto;
    vertical-align: middle;
    border: none;
    height: 25px;
}
.articleheader{
    color:#575A5B;
    font-family:PFHandbookProRegular;
    font-weight: bold;
    font-size:20pt;
    padding:10px 0;
}

.distributeh2{
    font-family:PFHandbookProRegular;
    font-weight: bold;
}
.androidmarketlogo{}
.androidmarketlogoimage{
    float:left;
    margin-left: 30px;
}
.androidmarketlogobutton{
    padding-top:30px;
}

.androiddistribute li {
    list-style: disc inside none !important;
}
/*.text_div{
    margin: 0;
    margin-top: -20px;
}*/

/* dashboard statistic */
.chartDiv{
    margin-top: 50px;
    text-align: center;
    width: 100%;
}
.stat-nav-links{
    font-size:13pt;
    font-family: Arial;
}
.stat-nav-links a{
    text-decoration: none;
    color: #575a5b
}
.stat-nav-links b{
    color: black;
}
.stat-info-count{
    padding-left:35px;
    color: #575a5b;
}
.stat-info-count div{
    font-size:13pt;
    padding:3px 0;
}
/* api */
.apih1{
    padding:0 0 5px;
}

.list1 li{
    list-style: decimal inside;
}
.list1 li ol {
    padding: 10px 0 0 0;
    margin: 0 0 -5px 0;
}

.list1 li li{
    margin-left: 10px;
}

.blahblah{
    margin-left: 15px;
}

#error-block{
    color: red;
    font-weight: bold;
}
.editlinks{
    color: #C0C2C2 !important;
    font-family: Arial;
    font-size: 12pt;
    text-decoration: none;
}

/* table with info */
.appsgeyser-data-grid {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    height: 30px;
    border: 1px solid white !important;
    text-transform: uppercase;
}

.appsgeyser-data-grid tr{
    color:#ffffff;
}

.appsgeyser-data-grid th{
    background:#788b0e;
    font-weight:bold;
    text-align: center;
    border: 2px solid;
}

.appsgeyser-data-grid td{
    border: 2px solid;
    background-color: #cce060;
}

.appsgeyser-data-grid div {
    margin: 10px;
}

.td-color-light-green td{
    background-color: #cce060;
}

.td-color-dark-green td{
    background-color: #788B0E;
}

/* free resources */

.f_r{
    /*background: url("/img/free_resources_background.png") repeat-x scroll 0 0 transparent;*/
    min-height: 400px;
    width: 980px;

}

.f_r a{
    text-decoration: none;
}

.f_r_bv_background{
    background: url("/img/free_resources_background.png") repeat-x scroll 0 0 transparent;
    height: 381px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.f_r_books_videos{
    float: left;
    width: 750px;
    position: relative;
    z-index: 2;
}

.f_r_bv_block{
    margin-top: 10px;
}

.f_r_bv_title{
    float: left;
    width: 200px;
}

.f_r_bv_title div{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
}

.f_r_bv_title img{}

.f_r_bv_title h1{
    font-size: 25pt;
    padding-left: 60px;
}

.f_r_bv_title p{}

.f_r_bv_list_block{
    float: right;
    width: 515px;
}

.f_r_bv_l_b_items{}

.f_r_bv_l_b_items li{
    float: left;
    padding: 5px;
    width: 245px;
}

.f_r_bv_l_b_i_item{
    min-height: 180px;
    width: 245px;
}

.f_r_bv_l_b_i_item div{}

.f_r_bv_l_b_i_item div img{}

.f_r_bv_l_b_i_item img{
    /*float: left;*/
}

.f_r_bv_l_b_i_item p{
    font-size: 8pt;
    line-height: 1.7em;
}

.f_r_bv_l_b_i_item h2{
    color: #333333;
    font-size: 12pt;
}

.f_r_b_d_r{
    height: 180px;
    overflow: hidden;
}

.f_r_b_d_l{
    float: left;
}



.f_r_b_d p{}

.f_r_b_d h2{}

.f_r_bv_l_b_i_link{
    margin-top: 22px;
}

.f_r_bv_l_b_i_link a{}

.f_r_bv_l_b_i_link img{}

.f_r_amazon_book{
    float: right;
    text-align: center;
    width: 220px;
    position: relative;
    z-index: 2;
    margin-top: 12px;
}

.f_r_amazon_book div{

    padding: 0 4px;
}

.f_r_amazon_book div div{}

.f_r_a_b_header{
    background: url("/img/fr_book_back_top.png") no-repeat scroll 0 0 transparent;
    height: 8px;
    width: 220px;
}

.f_r_a_b_content{
    background: url("/img/fr_book_back_middle.png") repeat-y scroll 0 0 transparent;
}

.f_r_a_b_title{}

.f_r_a_b_title div{}

.f_r_a_b_title h1{
    font-size: 15pt;
    padding: 5px 0;
    color: #737062;
}

.f_r_a_b_title img{}

.f_r_a_b_description{
}

.f_r_a_b_description h2{
    color: #8dc03f;
    font-size: 14pt;
    padding: 8px 0;
}

.f_r_a_b_description p{
    padding: 5px 0;
    text-align: left;
}

.f_r_a_b_description a{}

.f_r_a_b_description a img{}

.f_r_a_b_bottom{
    background: url("/img/fr_book_back_bottom.png") no-repeat scroll 0 0 transparent;
    height: 8px;
    width: 220px;
}

/* monetize */
.m_b_all{
    margin-left: 30px;
    position: relative;
    width: 670px;
}

.m_b{
    margin-top: 40px;
}

.m_b_hc{
    font-size: 12pt;
}

.m_b li{
    min-height: 35px;
}

.m_b li p{
    min-height: 35px;
    display: block;
    margin-left: 40px;
}

.m_l_b{}

.m_r_b{
    margin-left: 260px;
}

.m_r_b p{
    margin-top: 10px;
}



.m_b_header{
    background: url("/img/m_red_back_top.png") no-repeat scroll 0 0 transparent;
    height: 7px;
    width: 674px;
}

.m_b_content{
    background: url("/img/m_red_back_middle.png") repeat-y scroll 0 0 transparent;
    width: 674px;
}

.m_b_content h1{
    font-size: 15pt;
    margin-left: 24px;
}

.m_b_bottom{
    background: url("/img/m_red_back_bottom.png") no-repeat scroll 0 0 transparent;
    height: 7px;
    width: 674px;
}


#rsscontent 
{
    margin-left: 10px;
    margin-top: 5px;
}

#rsscontent h2 {
    margin: 0 0 10px 0;
    font-weight: bold;
    padding: 0;
}
#rsscontent h2 a
{
    color: #cc3399;
    text-decoration: none
}

.rss-item {
    display: block;
   
    border-bottom: 1px solid #dddddd;
}

.rss-item td
{
     padding: 10px 0 10px 10px;
}
.rss-item a{
    color: #6b8eb0;
}

.last-row {    
    border-bottom: none;
}

.rss-item td.link{
     padding-left: 10px;
     
}

.notice { 
    font-weight: bold;
    color: #168e46;
}

/*
custom app request page
*/
.c_r_content_left
{
    width:595px;
    margin-left: 0px;
}
.c_r_header
{
    background: url("/img/custom_form_top.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    width: 100%;
}

.c_r_content
{
    background: url("/img/custom_form_middle.png") repeat-y scroll 0 0 transparent;
}

.c_r_bottom
{
    background: url("/img/custom_form_bottom.png") no-repeat scroll 0 0 transparent;
    height: 8px;
    width: 100%;
}

.dropDownListWrapper
{
	background: none repeat scroll 0 0 white;
	border: 1px solid #E7E3CD;
	padding: 5px;
	width: 250px;
}

	.dropDownListWrapper select
	{
		width:250px;
		margin: 5px 0;
		border: none
	}